
<a href="<%= new_admin_quiz_path %>" class="btn btn-success btn-lg">
  <span class="glyphicon glyphicon-print"></span> New Test 
</a>
<table class="table table-striped pt-3">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Question</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <th scope="row"><%= quiz.id %></th>
        <td>
          <%= link_to quiz.name, admin_quiz_path(quiz.id) %>
        </td>
        <td><%= quiz.description %></td>
        <td><%= quiz.questions_count %></td>
        <td>
          <%= link_to 'Edit', edit_admin_quiz_path(quiz.id) %>

          <%= link_to "Delete", { action: "destroy", id: quiz.id },
              method: :delete, data: { confirm: "Are you sure?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>